@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
  /* font-family: "Poppins", sans-seri; */
}
img {
  max-width: 100%;
}
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;
  background-color: rgba(123, 141, 183, 0.705);
  margin-bottom: 50px;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3 {
  font-family: "Poppins", sans-seri;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
}
.navbar-brand {
  display: inline-block;
}
.navbar-brand img {
  max-width: 100px;
}

.banner {
  padding: 80px 0px 30px;
  background-image: url(https://ak.picdn.net/shutterstock/videos/14162012/thumb/1.jpg);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-color: #425f4d38;
}

.nav-item {
  padding: 0px 15px;
}

.nav-link {
  text-transform: uppercase;
  color: #fffbfb;
  font-size: 20px;
  border-bottom: 2px solid transparent;
  font-weight: 600;
  transition: all linear 0.3s;
}

.nav-item :hover {
  color: #b11b34c9;
}
.nav-link:hover {
  border-bottom: 2px solid #412222;
}
.left_img img {
  max-width: 90%;
}

.right_img img {
  max-width: 100%;
}

.right_content {
  padding: 30px 0px;
}

.right_content h1 {
  font-family: "Noto Sans", sans-serif;
  font-style: italic;
  color: #ffffff;
}

.right_content ul li {
  list-style: disc;
  font-size: 21px;
  color: #ffffff;
  line-height: 2;
}

.bnr_btn a {
  display: inline-block;
  text-decoration: none;
  background-color: #ff764b;
  padding: 15px 60px;
  color: white;
  border: 2px solid transparent;
}

.bnr_btn {
  padding-top: 20px;
  text-transform: uppercase;
}

.bnr_btn :hover {
  background-color: transparent;
  border: 2px solid #ff764b;
  color: #ff764b;
}
.ecommerce {
  background-color: #fafafa;
  padding: 40px 0px;
}

.ecommerce_content h1 {
  font-size: 30px;
  padding: 20px 0px;
  color: #3bb44a;
}

.ecommerce_content p {
  font-size: 20px;
  color: #75757e;
}

.ecm_btn {
  padding-top: 30px;
  text-transform: uppercase;
}

.ecm_btn a {
  display: inline-block;
  text-decoration: none;
  background-color: #3bb44a;
  padding: 15px 60px;
  color: white;
  border: 2px solid transparent;
}

.ecm_btn :hover {
  background-color: transparent;
  color: #3bb44a;
  border: 2px solid #3bb44a;
}

.products {
  padding: 40px 0px 60px;
}
.products h1 {
  padding-bottom: 20px;
}

.products p {
  padding: 20px 0px;
  font-size: 20px;
}
.left_logo img {
  background-color: #fafafa;
  border: 1px solid black;
  padding: 50px;
  max-width: 100%;
}

.right_logo img {
  background-color: #fafafa;
  border: 1px solid black;
  padding: 50px;
  max-width: 100%;
}

footer {
  background-color: #f2f1f1;
  padding: 30px 0px 10px;
}

footer ul li a {
  color: rgb(77, 74, 74);
  font-size: 20px;
  line-height: 3;
}

footer ul h1 {
  padding-bottom: 15px;
  font-size: 22px;
}

footer ul li :hover {
  color: #3bb44a;
}

.product_page_banner {
  background-color: #f2f2f2;
}

.product_page_banner {
  padding: 80px 0px;
}
.product_page_banner h1 {
  font-style: normal;
  font-weight: 900;
  color: #3bb44a;
  padding: 20px 0px;
  font-size: 43px;
}

.product_page_banner p {
  font-size: 18px;
  line-height: 2;
  color: #676565;
}

.about_banner {
  padding: 80px 0px;
  background-color: #f2f2f2;
}

.about_banner h1 {
  padding: 20px 0px;
  font-size: 37px;
}

.about_banner p {
  font-size: 18px;
  line-height: 2;
}

.about_bnr_content {
  padding-right: 40px;
}

.ezra {
  padding-top: 50px;
}
.ezra p {
  font-size: 18px;
  line-height: 2;
}

.ezra_right {
  padding-top: 40px;
}

.blog_banner {
  padding: 80px 0px;
}
.blog {
  padding: 40px 0px;
}

.box_blog {
  margin-top: 20px;
  border: 1px solid black;
}

.box_blog p {
  padding: 10px 30px;
}

.contact_banner {
  background-image: url(../images/contact_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

.contact_banner img {
  max-width: 70%;
  margin-bottom: 50px;
}

.contact_content {
  padding: 180px 0px;
}

.contact_content p {
  font-size: 20px;
}

/* RESPONSIVE START */
@media (max-width: 1199px) {
  footer ul h1 {
    padding-bottom: 15px;
    font-size: 30px;
  }
}
@media (max-width: 992px) {
  .ecm_btn a {
    margin-bottom: 20px;
  }

  footer ul h1 {
    padding-bottom: 15px;
    font-size: 20px;
  }
  .product_page_banner h1 {
    font-style: normal;
    font-weight: 900;
    color: #3bb44a;
    padding: 20px 0px;
    font-size: 23px;
  }
  .product_page_banner p {
    font-size: 16px;
    line-height: 2;
    color: #676565;
  }
  .product_page_banner {
    padding: 80px 0px 10px;
  }
  .ecommerce_content h1 {
    font-size: 27px;
    padding: 20px 0px;
    color: #3bb44a;
  }
  .ecommerce_content p {
    font-size: 16px;
    color: #75757e;
  }
  .ecm_btn a {
    display: inline-block;
    text-decoration: none;
    background-color: #3bb44a;
    padding: 15px 40px;
    color: white;
    border: 2px solid transparent;
  }
  .right_content ul li {
    list-style: disc;
    font-size: 16px;
    color: white;
    line-height: 2;
  }
  .bnr_btn a {
    display: inline-block;
    text-decoration: none;
    background-color: #ff764b;
    padding: 15px 40px;
    color: white;
    border: 2px solid transparent;
  }
  .banner {
    padding: 80px 0px 20px;
    background-color: #877c2069;
  }
  .about_banner h1 {
    padding: 10px 0px;
    font-size: 27px;
  }
  .about_banner p {
    font-size: 16px;
  }
  .about_banner {
    padding: 80px 0px 20px;
    background-color: #f2f2f2;
  }
  .ezra p {
    font-size: 13px;
  }
  footer ul li a {
    color: rgb(77, 74, 74);
    font-size: 16px;
    line-height: 3;
  }
  .ezra_right {
    padding-top: 0px;
  }
  .ezra h1 {
    font-size: 34px;
  }
  .box_blog p {
    padding: 6px;
  }
  .blog_banner {
    padding: 80px 0px 10px;
  }
  .blog {
    padding: 0px 0px 26px;
  }
  .left_img img {
    max-width: 97%;
  }
  .right_img img {
    max-width: 82%;
  }
  .contact_banner {
    background-image: url(../images/contact_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    background-position: center;
  }
}

@media (max-width: 768px) {
  .contact_banner {
    background-position: right;
  }
  .box_blog p {
    padding: 20px 40px;
    font-size: 21px;
  }
}
